@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
*, *:after, *:before {
  box-sizing: border-box;
}
.navbar {
  font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5vh;
    position: fixed;
    margin: 15px;
    margin-left: 15px;
    left: 900px;
    top: 300px;
    width: 67px;
    z-index: 1;
    transform: rotate(270deg);
}
.navbar ul {
  position: fixed;
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 10px;
  width: 67px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
}
.navbar li a img{
  position: fixed;
  margin: 18px;
  left: 5px;
  width: 20px;
  height: auto;
}
li:nth-child(6) {
  margin-top: 5rem;
  padding-top: 1.25rem;
  border-top: 1px solid #363664;
}
li + li {
  margin-top: 0.75rem;
}
.navbar a {
  color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -5px;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}
@media screen and (max-width: 1200px) 
{
  .navbar {
   
    min-height: 100vh;
    
    padding-top: 5px;
    padding-bottom: 5vh;
    position: fixed;
    margin: 15px;
    margin-left: 15px;
    left: 73rem;
    top: 134rem;
    width: 100px;
    z-index: 1;
    transform: rotate(270deg);
  }
  .navbar ul {
    position: fixed;
    
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.75rem;
    border-radius: 25px;
    width: 200px;
    height: 60rem;
    box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  }
  .navbar li a img{
    position: fixed;
    margin: 18px;
    left: 5px;
    width: 65px;
    height: auto;
  }
  li:nth-child(6) {
    margin-top: 5rem;
    padding-top: 1.25rem;
    border-top: 1px solid #363664;
  }
  li + li {
    margin-top: 0.75rem;
  }
  .navbar a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -0px;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 8px;
  }
 
  
}
